<article class="post">
  <div class="title">
    <a href="/post/{{post_id}}" class="post-title">{{title}}</a>
    <span class="price">{{price}}</span>
  </div>
  <div class="meta">
    <img src="{{image_url}}">
    <span class="description">{{description}}</span>
    |
    Listed by {{user.firstName}} {{user.lastName}} on {{created_at}}
  </div>
  <button type="button" class="buy-now-btn">Buy now</button>
</article>
<script src="/js/purchase.js"></script>